<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>email</title>
</head>
<body>
  <div style="width:100%; height:50px; background-color: rgb(66, 136, 255);text-align:center;font-size:30px;font-weight:bold;color:white;">
    <span>Medicine Mapping</span>
  </div>
  <p>Hi! Here is your login credentials</p>
  <br>
  <div style="padding-left:20px;">
    <p>Username: <span style="font-weight:bold;">user</span></p>
    <p>Password: <span style="font-weight:bold;">pass</span></p>
  </div>
  <br>
  <p>This is a system generated credentials we highly recommend to change it.</p>
  <p>For any concern just <a href="mailto:$fromEmail">email us</a>$.</p>
</body>
</html>
